.home-main_container {
  background: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  background-color: var(--black);
}
.home-wraper {
  background-color: var(--black);
}
.home-text_flex h1,
p {
  font-weight: 400;
  font-style: normal;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
}
.home-text_flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 300px;
}
.home-text_flex h1 {
  font-size: 64px;
  line-height: 1.5;
  letter-spacing: 0px;
}
.home-text_flex p {
  color: #bdbdbd;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0px;
}
.home-text_flex button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e1e1e;
  background-color: #fed130;
  border-color: #fed130;
  padding: 14px 15px;
  border-radius: 30px;
  letter-spacing: 1.2px;
  width: fit-content;
}
.home-main_container {
  /* padding-left: 100px; */
}

.buy-card_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  max-width: 100%;
  padding-bottom: 40px;
}
.buy-sell_container h1 {
  font-weight: 400;
  font-style: normal;
  font-family: "Nunito", sans-serif;
  color: var(--darkcyan);
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0px;
}
.buy-sell_container h4 {
  font-weight: 400;
  font-style: normal;
  font-family: "Nunito", sans-serif;
  color: var(--lightcyan);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0px;
}
.buy-sell_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-top: 90px;
  text-align: center;
}
.team-main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 90px;
}

.tracker-year_container {
  display: flex;
  margin-top: 90px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .home-text_flex h1 {
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0px;
  }
  .buy-card_wraper {
    width: 100%;
  }
  .buy-card_container {
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 475px) {
  .home-text_flex h1 {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
  }
  .home-main_container {
    padding-left: 10px;
    text-align: center;
  }
  .home-text_flex {
    justify-content: center;
    align-items: center;
  }
}
