.service-main-container {
  background-image: url("../../assets/background.jpg");
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.service-text_wrapper {
  height: 50vh;
}

.service-text_wrapper h1 {
  font-size: 60px;
  font-family: "Nunito", sans-serif;
}
.service-text_wrapper p {
  font-weight: 400;
  font-style: normal;
}

.serv-font{
    font-size: 20px;
}
