* {
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: var(--white);
}
html{
  background-color: var(--black);
}
h2, p {
  margin: 0;
  padding: 0;
}
/* montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

:root {
  --black: #1b2223;
  --darkcyan: #3a4f50;
  --lightcyan: #0ef6cc;
  --white: #f4fefd;
}
nav a.active{
  color: #0ef6cc;
}
.tt-c {
  color: var(--lightcyan);
}
.pp-c{
  color: var(--darkcyan);
}
.bgg-c {
  background-color: var(--black);
}
